body{
    font-family: "Roboto" ;

    text-align: center;
    
    background-image: url(/img/unsplash.jpg);

    background-position: center;


}


h1, h2, h3, h4, h5, h6{
    font-family:"Grenze+Gotisch";

    font-size: 35pt;

    text-align: center;

    color: #4d6c81;

}

header{
    text-align: center;
}

ul{

 list-style-type: none;  
}

.poem{
    text-align: center;

    font-size: larger;

    font-family: fantasy;
   
    color: #d3dadf;
}

img{

    width: 300px;

    height: 250px;

    border-style: groove;

    border-width: medium;

    border-color: #647e90;

}